// Navigation code here

.nav-div {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px double @nav-border;

    background: @nav-bg;
    font-style: @nav-font;

    nav {
        width: 400px;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        

        li {
            list-style-type: none;

            a {
                color: @header-font-color;
                text-decoration: none;
            }
        }

    }
}