// Navigation code here

.nav-div {
    width: 100%;

    .centered-column-flex;
    .nav-styles;

    nav {
        width: 400px;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;  
        
        li {
            list-style-type: none;

            a {
                color: @header-font-color;
                text-decoration: none;
            }
        }

    }
}